@import "tailwindcss";

@theme {
  --color-bg: var(--bg-color);
  --color-tx-main: var(--text-main);
  --color-tx-dim: var(--text-dim);
  --color-accent: var(--accent-color);
  --color-accent-soft: var(--accent-soft);
}

@layer base {
  body {
    background-color: var(--bg-color);
    color: var(--text-main);
    transition: background-color 0.4s ease, color 0.4s ease;
    @apply antialiased;
  }
}